# =========================
# R environment files
# =========================
.RData
.Rhistory
.Rproj.user/
*.rda

# =========================
# Data (ignore raw + large)
# =========================
Data/
data_raw/
2025 works/
2026_NEE_R2/
frag_2026_exct_median/
maksed_gfw_72countires/

# specific large files
temp_borneo_clipped.tif

# =========================
# OPTIONAL: large outputs only (safer than *.csv globally)
# =========================
# *.csv
# *.tif
# *.zip
# *.tar.gz
