# Ignore R workspace files
.RData
*.RData
*.Rdata
*.rda

# Ignore specific large file names
*.csv
*.tif
temp_borneo_clipped.tif

# Ignore entire folders containing large data files
2025 works/
2026_NEE_R2/
Data/
frag_2026_exct_median/
maksed_gfw_72countires/

# Ignore other heavy extensions (examples)
# Ignore R workspace files
.RData
*.RData
*.Rdata
*.rda

# Ignore specific large file names
my_large_dataset.csv

# Ignore entire folders containing large data files
data_raw/

# Ignore other heavy extensions (examples)
#*.zip
#*.tar.gz
#*.mp4
#*.exe
